# general modules
Django>=4.2,<4.3
python-decouple==3.8
pillow==10.2.0
djangorestframework

# third party modules 
markdown
django-filter
drf-yasg[validation]
djangorestframework-simplejwt
django-cors-headers

# deployment modules


# email third party modules 
django-mail-templated

# reformater and test modules
black
flake8
pytest
pytest-django
faker

# background process and cache
celery
redis
django-redis