<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>blog posts</h1>
    <ol id="post-wrapper">
    </ol>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            $.get("/blog/api/v1/post/", function (data, textStatus, jqXHR) {
                var wrapper = $('#post-wrapper');
                for (var i = 0; i < data.results.length; i++) {
                    var post = data.results[i];
                    var listItem = $('<li><a href="' + post.absolute_url + '">' + post.title + '</a></li>');
                    wrapper.append(listItem);
                }
            });
        </script>
</body>

</html>